body {
  background-color: var(--background);
  text-align: center;
}

h1, h2, h3 {
  color: var(--primary);
  font-family: var(--header-text);
  font-size: 3em;
  padding: 1em 0;
}

h4, h5 {
  color: var(--primary);
  font-family: var(--subheader-text);
  font-size: 1.5em;
  padding: 0.5em 0;
}

p, li, label {
  color:var(--primary);
  font-family: var(--body-text);
  font-size: 1.5em;
}

.currency-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  margin: 0 5%;
}


